<!DOCTYPE html>
<html>

<head>
    <title>Beautiful Calculator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    {{>header}}
    <h1>Dynamically created calculator</h1>
    <div class="calculator">
        <div class="display">
            <input type="text" id="result" readonly>
        </div>
        <div class="buttons">
            <button class="operator" onclick="appendToDisplay('/')">÷</button>
            <button class="operator" onclick="appendToDisplay('*')">×</button>
            <!-- Changed to '*' for valid multiplication -->
            <button id="clear" onclick="clearDisplay()">C</button>
            <button onclick="appendToDisplay('7')">7</button>
            <button onclick="appendToDisplay('8')">8</button>
            <button onclick="appendToDisplay('9')">9</button>
            <button class="operator" onclick="appendToDisplay('-')">−</button>
            <button onclick="appendToDisplay('4')">4</button>
            <button onclick="appendToDisplay('5')">5</button>
            <button onclick="appendToDisplay('6')">6</button>
            <button class="operator" onclick="appendToDisplay('+')">+</button>
            <button onclick="appendToDisplay('1')">1</button>
            <button onclick="appendToDisplay('2')">2</button>
            <button onclick="appendToDisplay('3')">3</button>
            <button class="operator" onclick="calculate()">=</button>
            <button onclick="appendToDisplay('0')">0</button>
            <button onclick="appendToDisplay('.')">.</button>
            <button onclick="appendToDisplay('.')">{{channelName}}</button>
        </div>
    </div>

    {{>footer}}
    <script src="script.js"></script>
</body>

</html>